<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Welcome to my Portofolio.</title>
</head>
<body>
    <header>
        <div class="menu-btn">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>

        <nav class="menu">
            <div class="menu-branding">
              <div class="portrait"></div>    
            </div>
            <ul class="menu-nav">
                <li class="nav-item ">
                    <a href="./" class="nav-link ">Home</a>
                </li>
                <li class="nav-item">
                        <a href="./work.html" class="nav-link">Work</a>
                    </li>
                <li class="nav-item current">
                        <a href="./about.html" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                        <a href="./contact.html" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="overlay"></div>

    <main id="about">
       <h1 class="lg-heading">
            About <span class="text-secondary">  Me</span>
       </h1>

       <h2 class="sm-heading">
          Hello my name is Silver Lila and i love to code...
       </h2>

       <div class="about-info">
           <img src="img/silvi.jpg" alt="Silver Lila" class="bio-image portrait">

           <div class="bio">
               <h3 class="text-secondary" >BIO</h3>
               <p>
                    Hello my name is Silvi Lila I’m from Durres Albania, and I’m 21 years old. I’m currently
                    studying for software engineering in the Canadian Institute of Technology.After graduating
                    from the Artistic Lyceum Jan Kukuzeli for graphic design I’ve been working as a we b
                    developer in a small company called bpro. I’ve designed website s for small businesses,
                    corporations, nonprofits, and for the company products.
                    I’ve been working mostly with php, javascript, html, css and I’ ve practice with some php
                    framework olso like laravel or slim, however my interest extend beyond the web design
                    I love to code and learn.
                    
                </p>
               
            </div>
            <div></div>
            <div class="my-skills ">
                <h3 style="color:#eece1a;">My programing Skills :)</h3>
                PHP
                <div class="skills php">90%</div>
                LARAVEL
                <div class="skills LARAVEL">75%</div>
                JAVA
                <div class="skills JAVA">70%</div>
                SPRING BOOT
                <div class="skills SPRING-BOOT">70%</div>
                JS
                <div class="skills JS">60%</div>
                REACT.JS
                <div class="skills REACT">60%</div>
            </div>
       </div>

    </main>
    <!-- End of main -->


    <!-- Footer -->
    <footer id=main-footer>
        Copyright &copy;2019
    </footer>
    <script src="js/main.js"></script>
</body>
</html>